<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../../assets/css/layui.css">
<link rel="stylesheet" href="../../assets/css/view.css" />
<title>领养申请</title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
		<div class="layui-page-header">
			<div class="pagewrap">
				<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">领养管理</a>
					<a><cite>领养申请</cite></a>
				</span>
			</div>
		</div>
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="form-box layui-form">
					<div class="layui-row layui-form-item layui-col-space10">
						<div class=" layui-col-md2">
							<select id="select" name="select" lay-verify=""
								class="layui-select ">
								<option value="adoptPetId">宠物编号</option>
								<option value="nickname">宠物昵称</option> 
								<option value="userName">用户姓名</option> 
							</select>
						</div>
						<div class="layui-col-md2">
							<input type="text" id="selContent"
								class="layui-input layui-input-inline ">
							<button id="selectRe" data-type="reload"
								class="layui-btn layui-btn-normal" style="position: absolute;">查询</button>
						</div>
					</div>
					<table id="appTable" lay-filter="demo"></table>
					<script type="text/html" id="appTool">
                            <a class="layui-btn layui-btn-sm" lay-filter="detail" lay-event="detail" lay>查看</a>  
                    </script>
				</div>
			</div>
		</div>
	</div>
	
	<script src="../../util/jquery.js"></script> 
	<script src="../../assets/layui.all.js"></script>
	<script src="../../js/administrator/adoptApplication.js"></script>
</body>
</html>