<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>专家介绍</title>
<link rel="stylesheet" href="../../assets/css/layui.css">
<link rel="stylesheet" href="../../assets/css/user.css">
<link rel="stylesheet" href="../../assets/css/common.css">
</head>
<body onpageshow="getCurCustomer()">
	<div class="index-header head-font">
		<div class="layui-row">
			<div class="layui-col-md3 left head-img">
				<div>
					<img src="../../assets/images/show.jpg">
				</div>
				<div>
					<span>刘刘宠物医院</span>
				</div>
			</div>
			<div class="layui-col-md7">
				<ul class="layui-nav" lay-filter="">
					<li class="layui-nav-item "><a href="../../indexWeb.html">主页</a></li>
					<li class="layui-nav-item layui-this"><a
						href="expertsIntroduction.html">专家介绍</a></li>
					<li class="layui-nav-item"><a href="envirEquip.html">环境设备</a></li>
					<li class="layui-nav-item"><a href="javascript:;">领养专区</a></li> 
				</ul>
			</div>
			<div id="logined" class="layui-col-md2" style="display:none;">
					<ul class="layui-nav">
						<li><img id="cusPhoto" src=""></li>
						<li class="layui-nav-item"><a href="">个人中心</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="personInfo.html">修改信息</a>
								</dd>
								<dd>
									<a href="javascript:;"  onclick="cusLogout()">退出</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div id="unlogined" class="layui-col-md2" style="display:block;">
					<ul class="layui-nav">
						<li class="layui-nav-item"><a href="login.html">登录</a> 
						</li>
						<li class="layui-nav-item"><a href="register.html">注册</a> 
						</li>
					</ul>
				</div>
		</div>
	</div>
	<div id="content">
		<div class="layui-row layui-col-space20">
			<div class="layui-col-md2 leftMenu">
				<ul>
					<li id="TD1" onclick="queryDoctor(1,'全部专家')"><a href="javascript:;">全部专家</a></li>
					<li id="TD2" onclick='queryDoctor(2,"骨科专家")'><a href="#">骨科专家</a></li>
					<li id="TD3" onclick="queryDoctor(3,'牙科专家')"><a href="javascript:;">牙科专家</a></li>
					<li id="TD4" onclick="queryDoctor(4,'眼科专家')"><a href="javascript:;">眼科专家</a></li>
					<li id="TD5" onclick="queryDoctor(5,'外科专家')"><a href="javascript:;">外科专家</a></li>
					<li id="TD6" onclick="queryDoctor(6,'内科专家')"><a href="javascript:;">内科专家</a></li>
					<li id="TD7" onclick="queryDoctor(7,'肿瘤科专家')"><a href="javascript:;">肿瘤科专家</a></li>
					<li id="TD8" onclick="queryDoctor(8,'血液科专家')"><a href="javascript:;">血液科专家</a></li>
					<li id="TD9" onclick="queryDoctor(9,'心脏专家')"><a href="javascript:;">心脏专家</a></li>
				</ul>
			</div>
			<div class="layui-col-md9 right">
				<div class="layui-row">
					<div class="layui-col-md12">
						<img class="allDoctor" src="../../assets/images/doctor.jpg">
					</div>
				</div>
				<div class="layui-row font">
					<span>名医荟萃 </span>
				</div>
				<div id="doctorIntro" class="layui-row layui-col-space10"> 
				</div>
			</div>
		</div>
	</div>
	<div id="popDocIntro">
		<div class="layui-row layui-col-space20 margin-top-10">
			<div class="layui-col-md5">
				<img id="popImg" src=""
					style="width: 100%;height: 100%;margin-left: 12px;border-radius: 10px;">
			</div>
			<div class="layui-col-md7">
				<span id="popName" class="black block margin-bottom-10" ></span> 
				<span id="popLevel" class="purple block margin-bottom-10"></span>
				<span id="popPhone" class="gray block margin-bottom-10"></span> 
			</div>
		</div>
		<div class="layui-row margin-left-10">
			<span id="popSkill" class="gray block margin-bottom-10" ></span> 
			<span id="popJobTitle" class="gray block margin-bottom-10"></span>
			<span id="popLevel2" class="gray block margin-bottom-10"></span> 
		</div>
		<div class="layui-row">
			<span id="popDescribe" class="gray block margin-bottom-10 padding-10"></span>
		</div>
	</div>
	
	<script src="../../util/jquery.js"></script>
	<script src="../../assets/layui.js"></script>
	
	<script type="text/javascript" src="../../js/getCustomer.js"></script>
	<script src="../../js/user/expertIntroduction.js"></script>
</body>
</html>