<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PetHospital</display-name>
  <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/servlet/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrescribeServlet</servlet-name>
    <servlet-class>servlet.PrescribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescribeServlet</servlet-name>
    <url-pattern>/servlet/PrescribeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>servlet.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/servlet/DoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PetServlet</servlet-name>
    <servlet-class>servlet.PetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PetServlet</servlet-name>
    <url-pattern>/servlet/PetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategaryServlet</servlet-name>
    <servlet-class>servlet.medicine.CategaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategaryServlet</servlet-name>
    <url-pattern>/servlet/medicine/CategaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManuServlet</servlet-name>
    <servlet-class>servlet.medicine.ManuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManuServlet</servlet-name>
    <url-pattern>/servlet/medicine/ManuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>servlet.medicine.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/servlet/medicine/SupplierServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SpecificationServlet</servlet-name>
    <servlet-class>servlet.medicine.SpecificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecificationServlet</servlet-name>
    <url-pattern>/servlet/medicine/SpecificationServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>MedicineServlet</servlet-name>
    <servlet-class>servlet.MedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicineServlet</servlet-name>
    <url-pattern>/servlet/MedicineServlet</url-pattern>
  </servlet-mapping>
</web-app>